What are data structures, and why are they important?
- Data structures are the fundamental building blocks of computer programming. They define how data is **organized**, **stored**, and **manipulated** within a program.

**Importance of data structures** -:
- Efficiency
- Reusability
- Abstraction
- Memory Management
- Scalability

Explain the difference between mutable and immutable data types with examples.
- **Mutable Data Type** - A mutable data type is one whose values can be changed.
Example: **List, Dictionaries, and Set**
- **Immutable Data Type** - An immutable data type is one in which the values can't be changed or altered.
Example: **String and Tuples**.

What are the main differences between lists and tuples in Python?
- **LIST**
1. Lists are mutable.
2. The list is better for performing operations, such as insertion and deletion.
3. Lists have several built-in methods.
---
- **TUPLE**
1. Tuples are immutable.
2. A tuple data type is appropriate for accessing the elements.
3. Tuple does not have many built-in methods.

Describe how dictionaries store data.
- Dictionaries are used to store data values in key:value pairs.
```
car = {
"brand": "Aston Martin",
"model": "Valkyrie",
"year": 2021,
"horsepower": "1,155PS",
"engine": "V-12"
}
```

Why might you use a set instead of a list in Python?
- **Uniqueness** -A set automatically ensures that all its elements are unique. If you need a collection of items with no duplicates, a set is the right choice.
-  **Set Operations** - Sets support powerful mathematical operations like union, intersection, and difference.
- **Efficient Duplicate Removal** - Converting a list to a set is an easy way to remove duplicates.
- **Avoiding Order Dependence** - Unlike lists, sets are unordered. If you don't care about the order of elements, sets can be simpler to work with.

What is a string in Python, and how is it different from a list?
- A string in Python is a data type composed of a collection of characters, which are surrounded by single quotes, double quotes, or triple quotes. It can contain letters, numbers, and special characters. A string is an immutable data type, so we can't change it once created.
- Strings and lists are both sequence data types in Python, but they differ in their structure, usage, and functionality.
1.   Strings are immutable.
2.   Strings can only contain characters, while list can contain   elements of different data types(e.g., numbers, strings, other lists).
3.   String has methods specific to text manipulation, like .upper(), .lower(), .replace(), .split(), etc. while list has methods for list manipulation, like .append(), .pop(), .sort(), .reverse(), etc.

How do tuples ensure data integrity in Python?
- Tuples ensure data integrity in Python through their **immutability**. This means that once a tuple is created, its elements cannot be changed, added, or removed.

What is a hash table, and how does it relate to dictionaries in Python?
- A hash table is a data structure that provides an efficient way to store and retrieve data using a technique called hashing. In Python, dictionaries (dict) are implemented using hash tables.

Can lists contain different data types in Python?
- Yes, lists in Python can contain elements of different data types. This is one of the features that makes Python lists flexible and powerful.
```
mixed_list = [42, "hello", 3.14, True, [1, 2, 3], {"key": "value"}]
print(mixed_list[0])  # 42 (integer)
print(mixed_list[1])  # "hello" (string)
print(mixed_list[4])  # [1, 2, 3] (nested list)
print(mixed_list[5])  # {"key": "value"} (dictionary)
```

Explain why strings are immutable in Python.
- Strings are immutable in Python because immutability offers several practical and design advantages, including improved performance, security, and simplicity.
1. Efficient memory usage.
2. Reliable hashing for dictionary keys and sets.
3. Thread-safe and secure usage.
4. Simplified design with fewer side effects.

What advantages do dictionaries offer over lists for certain tasks?
- **Dictionaries** offer fast lookups (O(1)) compared to lists (O(n)), making them efficient for retrieving data.  
- They store data as key-value pairs, allowing for meaningful associations instead of relying on numeric indices.  
- Dictionaries support flexible, hashable keys (e.g., strings, tuples), unlike lists that use sequential indices.  
- For sparse data storage, they are effective.
- Adding or removing elements in dictionaries doesn't require shifting indices, making them dynamic and flexible.  
- Dictionaries provide better readability for labeled data, while lists can be ambiguous for mixed content.  
- They are ideal for tasks like frequency counting, mapping relationships, or creating lookup tables.
- **Lists**, however, are better suited for ordered collections, slicing, or handling sequential data.

Describe a scenario where using a tuple would be preferable over a list.
- A tuple is preferable over a list when you need to ensure that the data remains unchanged (immutable).It is applied in a setting that capitalises on its unchangeability.
- Imagine you're working on an application that stores user profile data (e.g., username, email, and user ID), and this data should not be modified once it's created.
```
# Tuple for representing a user profile
user_profile = ("harsh123", "harsh@gmail.com", 101)
```

How do sets handle duplicate values in Python?
- In Python, sets automatically remove duplicate values. They only store unique elements, so if you try to add a duplicate value, it will be ignored.
```
# Creating a set with duplicate values
my_set = {1, 2, 3, 3, 4, 5, 5}
# Display the set
print(my_set)  # Output: {1, 2, 3, 4, 5}
```

How does the “in” keyword work differently for lists and dictionaries?
- For **lists**, *in* checks if a value is present in the list.

```
my_list = [10, 20, 30, 40]

# Check if the value 20 is in the list
print(20 in my_list)  # Output: True

# Check if the value 50 is in the list
print(50 in my_list)  # Output: False
```
- For **dictionaries**, *in* checks if a key is present in the dictionary.

```
my_dict = {"a": 1, "b": 2, "c": 3}

# Check if the key "b" is in the dictionary
print("b" in my_dict)  # Output: True

# Check if the key "d" is in the dictionary
print("d" in my_dict)  # Output: False

# Checking for a value (incorrect usage)
print(2 in my_dict)  # Output: False (this checks for a key, not a value)
```

Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot modify the elements of a tuple in python because tuples are immutable. Once a tuple is created, its elements cannot be changed, added, or removed.

**Why Tuples Are Immutable:**
- **Immutability**: This means that once a tuple is created, its values are fixed and cannot be altered. This is a design choice to ensure that the data remains constant and consistent.
- **Memory Efficiency**: Immutability allows tuples to be stored more efficiently in memory and enables optimizations like hashing (which makes tuples hashable and usable as dictionary keys).
- **Data Integrity**: Ensuring that the tuple's content cannot be changed by accident adds to the reliability and safety of the program, especially when tuples represent fixed data, such as coordinates or configuration settings.

What is a nested dictionary, and give an example of its use case?
- A nested dictionary is a dictionary where the values are themselves dictionaries. This allows you to represent more complex data structures by using dictionaries inside other dictionaries.

**Use Case:**
- A nested dictionary can be useful when you need to store hierarchical or structured data, like details about students in a class, where each student has multiple attributes (e.g., name, age, subjects).


```
students = {
    "Alice": {"age": 20, "math": 90, "english": 85},
    "Bob": {"age": 22, "math": 75, "english": 88}
}
# Accessing data from a nested dictionary
print(students["Alice"]["math"])  # Output: 90
print(students["Bob"]["age"])     # Output: 22
```

Describe the time complexity of accessing elements in a dictionary.
- The time complexity of accessing elements in a dictionary in python is **O(1)**, which means constant time.

In what situations are lists preferred over dictionaries?
- Lists are preferred over dictionaries when you need to store ordered data or when the order of elements matters. Lists are best when you need to access elements by position (index) or store a collection of items that don’t need a key-value pair.
- When you want to store a sequence of numbers or items where the order matters (like a playlist or a list of student names).

Why are dictionaries considered unordered, and how does that affect data retrieval?
- Dictionaries in python are considered unordered because the elements are stored based on their hash values rather than in a specific sequence. This means that when you insert items, the order in which they appear isn't guaranteed to be preserved.

**Effect on Data Retrieval:**
- **Fast Lookups**: Despite being unordered, dictionaries allow for efficient O(1) access by key.
- **No Indexing**: You cannot access dictionary elements by a numeric index like in a list.
- **Unpredictable Order**: The order of items in a dictionary can change as items are added or removed.

Explain the difference between a list and a dictionary in terms of data retrieval.
- The main difference between a **list** and a **dictionary** in terms of **data retrieval** is how they access and store data:
### 1. **List**:
- **Data Retrieval**: In a list, data is accessed using an **index** (position) in an **ordered** collection.
- **Access Time**: To retrieve an element, you use its position, e.g., my_list[1], which takes **O(1)** time (constant time).
- **Example**:
  ```python
  my_list = [10, 20, 30]
  print(my_list[1])  # Output: 20
  ```
### 2. **Dictionary**:
- **Data Retrieval**: In a dictionary, data is accessed using a **key**, and the order does not matter.
- **Access Time**: Retrieval is very efficient with **O(1)** average time complexity because dictionaries use hash tables to store data by key.
- **Example**:
  ```python
  my_dict = {"a": 10, "b": 20}
  print(my_dict["b"])  # Output: 20
  ```

Write a code to create a string with your name and print it.

In [ ]:
new_string = "Harshavardhan"
print(new_string)

Harshavardhan

Write a code to find the length of the string "Hello World".

In [ ]:
new_string = "Hello World"
print(len(new_string))

11

Write a code to slice the first 3 characters from the string "Python Programming"

In [ ]:
new_string ="Python Programming"
print(new_string[0:3])

Pyt

Write a code to convert the string "hello" to uppercase.

In [ ]:
new_string ="hello"
print(new_string.upper())

HELLO

Write a code to replace the word "apple" with "orange" in the string "I like apple".

In [ ]:
new_string = "I like apple"
print(new_string.replace("apple","orange"))

I like orange

In [ ]:
new_list = [1,2,3,4,5]
print(new_list)

[1, 2, 3, 4, 5]

Write a code to append the number 10 to the list.

In [ ]:
new_list = [1,2,3,4,5]
new_list.append(10)
print(new_list)

[1, 2, 3, 4, 5, 10]

Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].

In [ ]:
new_list = [1,2,3,4,5]
new_list.remove(3)
print(new_list)

[1, 2, 4, 5]

Write a code to access the second element in the list ['a', 'b', 'c', 'd'].

In [ ]:
new_list =['a','b','c','d']
print(new_list[1])

b

Write a code to reverse the list [10, 20, 30, 40, 50].

In [ ]:
new_list = [10,20,30,40,50]
new_list.reverse()
print(new_list)

[50, 40, 30, 20, 10]

Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
new_tuple = (10,20,30)
print(new_tuple)

(10, 20, 30)

Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
new_tuple = ('apple', 'banana', 'cherry')
print(new_tuple[0])

apple

Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
new_tuple = (1,2,3,2,4,2)
print(new_tuple.count(2))

3

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
new_tuple = ('dog', 'cat', 'rabbit')
print(new_tuple.index('cat'))

1

Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
new_tuple = ('apple', 'orange', 'banana')
print('banana' in new_tuple)

True

Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
new_set = {1,2,3,4,5}
print(new_set)

{1, 2, 3, 4, 5}

Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
new_set = {1,2,3,4}
new_set.add(6)
print(new_set)

{1, 2, 3, 4, 6}

Write a code to create a tuple with the elements 10, 20, 30 and print it.

In [ ]:
new_tuple = (10,20,30)
print(new_tuple)

(10, 20, 30)

Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').

In [ ]:
new_tuple = ('apple', 'banana', 'cherry')
print(new_tuple[0])

apple

Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).

In [ ]:
new_tuple = (1,2,3,2,4,2)
print(new_tuple.count(2))

3

Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [ ]:
new_tuple = ('dog', 'cat', 'rabbit')
print(new_tuple.index('cat'))

1

Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').

In [ ]:
new_tuple = ('apple', 'orange', 'banana')
print('banana' in new_tuple)

True

Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.

In [ ]:
new_set ={1,2,3,4,5}
print(new_set)

{1, 2, 3, 4, 5}

Write a code to add the element 6 to the set {1, 2, 3, 4}.

In [ ]:
new_set ={1, 2, 3, 4}
new_set.add(6)
print(new_set)

{1, 2, 3, 4, 6}